{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="uk-heading-small uk-text-center h1-goddies"><span class="title-goddies">Le village du Père Noël</span></h1>
    <div class="carte">
        <img src="https://media.discordapp.net/attachments/1177181621129064488/1177220049346515026/swaglapine_santas_village_by_night_in_the_snow_doodle_style_map_66c16fb3-e6a9-4d01-be06-92845b76cc4a.png?ex=6571b69b&is=655f419b&hm=a3d774b4908c9d8b427c4572c8c20691a15d370b9a3c0d00969fe728491fb341&=&width=676&height=676"
            width="80%" height="auto" alt="">
    </div>
    <img class="chat"
        src="https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg" alt="">
    <img class="chat2" src="https://www.larousse.fr/encyclopedie/data/images/1310591-Chat_American_shorthair.jpg"
        alt="">
    <img class="chat3"
        src="https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg" alt="">
    <img class="chat4"
        src="https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg" alt="">
    <img class="chat5"
        src="https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg" alt="">

        <div class="gain">
            Réalisez avec succès le mini jeu afin de gagner un an de stage non rémunéré au sein des usines de jouets du Père Noel!!!
        </div>
{% endblock %}

