{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="uk-heading-small uk-text-center h1-goddies"><span class="title-goddies">Le père Noel comme vous ne l'avez jamais vu!</span></h1>

    <div uk-slider>

        <div class="uk-position-relative">

            <div class="uk-slider-container uk-light">
                <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177185075293585469/swaglapine_photograph_of_santa_claus_with_a_big_terrifying_smil_51869536-37eb-4e29-9749-34a897c511f4.png?ex=65719608&is=655f2108&hm=876099e0cf272c79106e8e1b2e3d9c08a1956588ef8d02fc81dafdeef9198c84&=&width=676&height=676"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177185167157235722/swaglapine_terrifying_christmas_imps_making_toys_in_a_christmas_fe8d685a-1af8-4696-9850-ab9987781d7f.png?ex=6571961e&is=655f211e&hm=45ea9e1c22d35a6e3271f322261e848fb896223f08ccebc49ef2436e944bdc0e&=&width=676&height=676"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177256468534284328/swaglapine_santa_claus_having_fun_at_the_beach_a34f58ac-c9de-48d6-8d5f-08dead95cd3d_ins.png?ex=6571d886&is=655f6386&hm=5b190782eb3495d33eb1a6b7f87f863e32f440a3087e7f0f314b72adadc61e65&=&format=webp&width=676&height=676"
                        width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://images-ext-2.discordapp.net/external/9nWIKc_CS-908zDk2hpInkn95wVio6F4zqSBa7B_PcE/https/i.gifer.com/6H3K.gif"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://images-ext-2.discordapp.net/external/kRf9Wz1loNUkHHUXmAbOdA7EtfNM5Ppxo8rs6nfOBdU/https/i.gifer.com/WZ8j.gif"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177190283746758737/swaglapine_santa_claus_in_a_pyjama_lying_on_a_velvet_couch_7a8cca79-8867-4f45-b43b-e9003302384f.png?ex=65719ae2&is=655f25e2&hm=fd00d52f7a3cfb52331eacea7b507a6b41bf483664487b28cc35a04dfbec26a4&=&width=676&height=676"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177185843304210542/swaglapine_santa_claus_holding_a_red_ballon_with_a_grin_on_its__a88f01b7-7e60-4a75-9844-d3b47f20d21d.png?ex=657196c0&is=655f21c0&hm=0d4739fdac9348433bcc7dc4fc951a4657a8eb455e72d67e22e10746d8e15cef&=&width=676&height=676"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177210186738434138/istockphoto-1180383303-612x612_2.jpg?ex=6571ad6c&is=655f386c&hm=61df5dd91e3ef6df8540f34c7ef29db00fbcda42babb7fa68841ac93a3034f1e&="
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177212079241965568/ai-generated-8391895_1280_ins.png?ex=6571af2f&is=655f3a2f&hm=4b8ffb835227e9437ea26eacacc2de7660eaa873bd09314b050a4db16deafe6e&=&width=676&height=676"
                            width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                    <li>
                        <img class="swiper-img-lw" src="https://media.discordapp.net/attachments/1177181621129064488/1177220049346515026/swaglapine_santas_village_by_night_in_the_snow_doodle_style_map_66c16fb3-e6a9-4d01-be06-92845b76cc4a.png?ex=6571b69b&is=655f419b&hm=a3d774b4908c9d8b427c4572c8c20691a15d370b9a3c0d00969fe728491fb341&=&width=676&height=676" width="400" height="600" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                    </li>
                </ul>
            </div>

            <div class="uk-hidden@s uk-light">
                <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous
                    uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slider-item="next"></a>
            </div>

            <div class="uk-visible@s">
                <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous
                    uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small" href uk-slidenav-next
                    uk-slider-item="next"></a>
            </div>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
    <h2>Super prix de la mort qui tue: balade en traineau avec le Père Noel!!!!</h2>
    <p class="explication">
        Destiné <span class="texte_barré"> au donateur le plus généreux </span> à l'enfant le plus sage!
    </p>
    <div class="grand_prix">
        <img src="https://images-ext-1.discordapp.net/external/XOQAjMmooHTEIFgR2Y6iwADkANpdV91Gd8VU_LYAiDg/https/i.gifer.com/Oyc.gif"
            width="25%" height="auto" alt="">
        <img src="https://images-ext-1.discordapp.net/external/S1ehq-jKSMuefOmqfC1xjAE2rKpbYwmgQHT0RD516yg/https/i.gifer.com/EQFA.gif"
            width="25%" height="auto" alt="">
    </div>
{% endblock %}

{% block javascript %}
<script>function myFunction() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
</script>
<script type="text/javascript" src="https://click123.ca/dist/js/snow.js"></script>
{% endblock %}

