{% extends 'layout.html.twig' %}

{% block content %}
<div class="lw-body-cadeaux">
    <div class="cadeaux">

    <main>

        {% set nbcadeaux = 10 %}
        {% set cadeau = 'cadeau' %}
        {% for i in 0..nbcadeaux %}
            <img src="/assets/images/cadeau.png" class="{{cadeau ~ i}} cadeau" style="left: '.rand(0, 95).'%; animation-delay: '.rand(0, 10).'s;">
        {% endfor %}

        <h1 class="uk-heading-small uk-text-center h1-goddies lw-title-cadeaux"><span class="title-goddies">Envoies ta liste de cadeaux pour le Père Noël</span></h1>

        <div class="lw-card-container">
            <div class="uk-card uk-card-default uk-child-width-1-2@s uk-margin lw-card-div">
                <div class="uk-card-media-left uk-cover-container">
                    <img src="/assets/images/santa_list.jpg" alt="" class="lw-card-img" uk-cover>
                    <canvas width="400" height="400"></canvas>
                </div>
                <div>
                    
                    <div class="uk-card-body">
                        <h3 class="uk-card-title lw-card-title">Envoie de ta liste</h3>
                        <p class="lw-card-p">Le Père Noël attend ta liste, ne fait pas le timide! <br> De toute façon il y a très peu de chance qu'il la lise. </p>
                        <p class="lw-card-p">Pour être sûr, n'hésite surtout pas à cocher l'option ci-dessous, sans l'accord de tes parents. Evidemment. </p>
                        <form method="post" enctype="multipart/form-data">   
                            <label class="lw-container">Option lecture garantie: + 200€
                                <input type="checkbox" checked="checked">
                                <span class="lw-checkmark"></span>
                            </label>
                        
                            <input type="file" id="actual-btn" name="photo"/>
                            <br>
                            <div class="lw-div-submit-button">
                                <input type="submit" class="lw-submit-button"/>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="lw-button-div">
            <a><button type="submit" id="myLink">C'est cadeaux!</button></a>
            <br>
            <div id="result"></div>
        </div>

        
    </div>
    </main>
    </div>
    {% endblock %}



        {% block javascript %}
            {{parent()}}
                <script>    
                    const myLink = document.getElementById('myLink');
                    const result = document.getElementById('result');

                    myLink.addEventListener('click', () => {
                        fetch("https://api.chucknorris.io/jokes/random")
                        .then(response => response.json())
                        .then(data => result.innerHTML = data.value)
                        .catch(err => console.error(err))
                    });
                </script>
       {% endblock %}

