{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="uk-heading-small uk-text-center h1-goddies"><span class="title-goddies">Le village du Père Noël</span></h1>
    <div class="carte">
        <img src="https://media.discordapp.net/attachments/1177181621129064488/1177220049346515026/swaglapine_santas_village_by_night_in_the_snow_doodle_style_map_66c16fb3-e6a9-4d01-be06-92845b76cc4a.png?ex=6571b69b&is=655f419b&hm=a3d774b4908c9d8b427c4572c8c20691a15d370b9a3c0d00969fe728491fb341&=&width=676&height=676"
            width="80%" height="auto" alt="">
    </div>
    <img class="chat"
        src="https://images-ext-1.discordapp.net/external/1iKIjpGHHlWDxew-tzh2JY4ZNYJAvrdeixfhZaL126s/https/i.gifer.com/48Z.gif" alt="">
    <img class="chat2" src="https://media.discordapp.net/attachments/1177181621129064488/1177553574662787072/000146858_896x598_c.png?ex=6572ed3a&is=6560783a&hm=ff52be062b902653a7a93340802021662ed81fa96d5d1662ab7d8e34f1b595cc&=&format=webp"
        alt="">
    <img class="chat3"
        src="https://media.discordapp.net/attachments/1177181621129064488/1177553611069341756/pere-noel-enfant-courrier-la-poste-syndicat-travail-noir.png?ex=6572ed42&is=65607842&hm=e1db729d32b7e52890ecc62107c6e05967fbd76169d36a95276d962111e31c7f&=&format=webp" alt="">
    <img class="chat4"
        src="https://www.usinenouvelle.com/mediatheque/9/4/0/000830049_1200x800_c.png" alt="">
    <img class="chat5"
        src="https://images.centrepresseaveyron.fr/api/v1/images/view/5ae76b7d8fe56f3c7b0c7213/large/image.jpg" alt="">

        <div class="gain">
            Réalisez avec succès le mini jeu afin de gagner un an de stage non rémunéré au sein des usines de jouets du Père Noel!!!
        </div>
{% endblock %}
{% block javascript %}
   <script type="text/javascript" src="https://click123.ca/dist/js/snow.js"></script>
    {% endblock %}
