{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.5/dist/css/uikit.min.css">
        <link rel="stylesheet" href="/assets/css/style.css"/>{% endblock %}

{% block content %}
    <main class="uk-container uk-margin-medium-top uk-container main_goddies">
        <section class="uk-text-center">
            <h1 class="uk-heading-small uk-text-center h1-goddies"><span class="title-goddies">Les goddies du Père Noël</span></h1>
            <div class="uk-child-width-1-3@m goddies_uk-child" uk-grid>
                <div class="uk-card goddies-card">
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/fiole.png" width="1800" height="1200" alt="fiole" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">L'eau du bain</br>du Père Noël</h3>
                            <p class="goddies-text-card">Plongez dans la magie des fêtes avec notre fiole exclusive d'eau de bain du Père Noël. 
                            Laissez-vous enchanter par l'essence envoûtante de cette eau de bain spéciale, récupéré directement dans 
                            la baignoire privée du Père Noël après ses ablutions. Cette formule magique, pleine d'arômes de sueur, transformera
                            votre bain en une expérience féérique digne du Pôle Nord.</br>
                            Offrez-vous un moment de détente et de joie pendant cette période festive avec l'eau de bain du Père Noël,
                            un cadeau parfait pour vous ou vos proches !
                            </p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/t-shirt_elfette.png" width="1800" height="1200" alt="t-shirt de l'elfette" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">Le fameux t-shirt</br>de l'elfette</h3>
                            <p>Plongez dans le style féérique avec notre adorable t-shirt de l'elfette !
                            Fabriqué avec soin dans l'atelier magique du Pôle Nord, ce t-shirt vous transporte instantanément 
                            dans l'esprit des fêtes. Avec ses couleurs vives et son design enchanteur, il incarne la joie et 
                            la magie de Noël.</br> 
                            De plus, pour les passionnés de souvenirs uniques, nous vous proposons une édition spéciale 
                            déjà portée par l'une de nos joyeuses elfettes. Cette édition limitée est imprégnée de l'esprit festif 
                            et de la magie des ateliers du Père Noël. 
                            Embrassez l'unicité et la magie des fêtes avec ce t-shirt spécial, idéal pour célébrer cette saison enchantée ! </p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/ecrin_barbe.png" width="1800" height="1200" alt="ecrin" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">Ecrin de barbe</br>du Père Noël</h3>
                            <p>Plongez dans l'émerveillement de Noël avec notre écrin exquis renfermant des poils de barbe 
                            authentiques du Père Noël ! Chaque poil est une relique précieuse de la magie des fêtes, capturant 
                            l'esprit joyeux et bienveillant de ce cher vieux bonhomme. Présentés dans un écrin élégant et soigneusement conçu,
                            ces poils de barbe sont un trésor rare et unique, parfait pour les passionnés de Noël et 
                            les collectionneurs d'objets extraordinaires.</br>
                            Offrez-vous ou offrez à un proche ce véritable morceau de l'essence même du Père Noël, une pièce de collection 
                            incomparable qui évoque l'esprit enchanteur de cette période magique de l'année.
                            </p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/chaussettesPN.png" width="1800" height="1200" alt="chaussettes" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">Les chaussettes usagées</br>du Père Noël</h3>
                            <p>Plongez dans l'esprit festif avec les chaussettes authentiques du Père Noël ! 
                            Ces chaussettes emblématiques sont bien plus que de simples accessoires, ils sont imprégnés de l'essence même 
                            de la saison des fêtes. Portées la saison dernière, ces chaussettes vous enveloppent de chaleur et de magie 
                            dès que vous les enfilez. Leur douceur et leur confort vous transportent instantanément dans l'ambiance réconfortante de Noël.
                            </br>
                            Que ce soit pour compléter votre costume de Père Noël, pour une fête thématique ou simplement pour ajouter une 
                            touche de féerie à votre hiver, ces chaussettes emblématiques du Père Noël sont l'accessoire parfait pour 
                            célébrer cette période joyeuse de l'année. 
                            </p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/ceinture.png" width="1800" height="1200" alt="ceinture" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">La ceinture multifonction</br>du Père Noël</h3>
                            <p>Plongez dans la praticité enchantée avec la ceinture multifonction du Père Noël ! Inspirée par l'ingéniosité de 
                            l'homme en rouge lui-même, cette ceinture polyvalente est conçue pour répondre à tous vos besoins pendant les fêtes.
                            Utile aussi bien pour les petits que pour les grands, cette ceinture est l'accessoire ultime pour être aussi efficace que le Père Noël lui-même !</br>
                            Que vous distribuiez des cadeaux ou que vous vouliez simplement ajouter une touche de magie pratique à votre tenue 
                            des fêtes, cette ceinture est là pour vous simplifier la vie tout en préservant l'esprit enjoué de Noël. 
                            </p>
                        </div>
                    </div>
                    <div class="uk-card uk-card-default goddies-card-default">
                        <div class="uk-card-media-top goddies-media-top">
                            <img src="/assets/images/carte_voeuxPN.png" width="1800" height="1200" alt="carte de voeux" class="goddies-img">
                        </div>
                        <div class="uk-card-body goddies-card-body">
                            <h3 class="uk-card-title goddies-card-title">La carte de voeux</br>du Père Noël 2024</h3>
                            <p>Entrez dans l'esprit chaleureux de Noël avec notre carte de vœux exclusive du Père Noël ! Cette carte incarne 
                            la magie des fêtes avec ses illustrations charmantes et sa touche personnelle du Père Noël lui-même.
                            Parfaite pour transmettre vos vœux les plus chaleureux à ceux que vous aimez, cette carte capture l'esprit de générosité 
                            et de joie de cette saison spéciale. Imaginez le sourire sur le visage de vos proches en recevant une salutation personnelle 
                            du Père Noël, empreinte de féerie et de bienveillance.</br>
                            Offrez un moment de magie cette année avec notre carte de vœux du Père Noël, l'expression parfaite de l'esprit de Noël à 
                            partager avec ceux qui vous sont chers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</br>
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s goddies-gift-card" uk-grid>
            <div class="uk-card-media-left uk-cover-container goddies-card-media-left">
                <img src="/assets/images/carte_cadeau.png"  alt="carte cadeau" uk-cover class="gift-img">
                <canvas width="600" height="400" class="contact-img"></canvas>
            </div>
            <div>
                <div class="uk-card-body gift-card-body">
                    <div class="uk-margin contact-margin">
                        <h3 class="uk-card-title gift-card-title">Découvrez en exclusivité : La carte cadeau !</h3>
                        <p>Embrassez la magie de Noël avec notre offre limitée : la carte cadeau du Père Noël d'une valeur minimum de 250 € ! 
                        Offrez le cadeau parfait qui laisse libre cours à tous les souhaits et désirs. Que ce soit pour trouver le cadeau 
                        idéal parmis nos goddies enchantés ou pour permettre à vos proches de choisir leur propre trésor festif, 
                        cette carte cadeau est la clé pour une expérience magique inoubliable. Avec une valeur généreuse de 250 €, 
                        elle ouvre les portes d'un monde de merveilles où chacun peut sélectionner ses propres joyaux de Noël.</br> 
                        Ne manquez pas cette offre limitée, offrez la magie de Noël à ceux que vous aimez avec la carte cadeau du Père Noël !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </br>
    </main>
    {% endblock %}

    {% block javascript %}
   <script type="text/javascript" src="https://click123.ca/dist/js/snow.js"></script>
    {% endblock %}


