.lw-body-cadeaux {
    background-color: var(--vert);
    height: 100vh;
}

.lw-title-cadeaux {
    padding-top: 3rem;
}

.lw-card-img {
    border-radius: 20px;
}

.lw-card-div {
    border-radius: 20px;
    width: 60vw;
    display: inline-flex;

}

.lw-card-title {
    text-align: center;
}

.lw-card-container {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

input::file-selector-button {
    border: solid var(--vert) 1.5px;
    border-radius: 5px;
    background-color: var(--vert);
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.lw-div-submit-button {
    display: flex;
    justify-content: center;
}

.lw-submit-button {
    border: solid var(--vert) 2px;
    background-color: white;
    color: var(--vert);
    border-radius: 5px;
    margin-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

/* Customize the label (the container) */
.lw-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.lw-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.lw-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.lw-container:hover input~.lw-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.lw-container input:checked~.lw-checkmark {
    background-color: var(--vert);
}

/* Create the checkmark/indicator (hidden when not checked) */
.lw-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.lw-container input:checked~.lw-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.lw-container .lw-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**********************/
/******Fun Button******/
/**********************/

.lw-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    background-color: var(--vert);
}

#myLink {
    border: solid white;
    background-color: var(--vert);
    color: white;
    padding: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 8px;
    font-size: 2rem;
    animation: funtime 1.75s infinite;
    cursor: pointer;
}

@keyframes funtime {
    0% {}

    50% {
        background-color: var(--rouge_foncé);
        border: solid var(--rouge_foncé) 2px;
        box-shadow: 0px 0px 22px 10px rgba(255, 255, 255, 0.39);
    }
}



#result {
    margin-top: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 100vw;
    background-color: var(--vert);
    padding-bottom: 3rem;
}
/** Animation cadeaux **/
.cadeaux {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  
  .cadeau {
    position: absolute;
    width: 50px;
    animation: chute 5s linear infinite;
  }
  
  @keyframes chute {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100vh);
    }
  }