<footer>
	<p>&#169;DarkSanta |
		<a href="#">Mentions légales</a>
	</p>
	<ul>
		<li><a href="https://www.leetchi.com/fr/c/votre-argent-contre-mes-cadeaux-1876355"><img src="/assets/images/leetchi.svg" alt="Leetchi"></a></li>
		<li><a href="https://www.paypal.com/fr/home"><img src="/assets/images/paypal.svg" alt="Paypal"></a></li>
		<li><a href="https://onlyfans.com/u378558738">SantaFans</a></li>
	</ul>
</footer>
</body>
</html>
