<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <title>DarkSanta</title>
</head>
<body>
<nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/accueil" aria-label="darkSanta"><img class="img-logo" src="/assets/images/darkSantalogo.png"></a>
                </div>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider" onclick="myFunction()"></span>
                </label>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav my-nav uk-visible@m">
                        <li>
                            <a href="https://perenoel.fi/">Site bizarre</a>
                        </li>
                        <li>
                            <a href="/visite">Visite</a>
                        </li>
                        <li>
                            <a href="/goddies">Goddies</a>
                        </li>
                        <li>
                            <a href="/cadeaux">Vos listes de voeux</a>
                        </li>

                        {% if session.isLogin == true %}
                        <li>
                            <a href="/admin">Admin</a>
                        </li>
                        <li>
                            <a href="/logout">Déconnexion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/connexion">Connexion</a>
                        </li>
                        {% endif %}

                    </ul>
                    <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-hidden@m" uk-navbar-toggle-icon href="#"></a>
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom uk-hidden@m">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>
                                        <a href="/visite.php">Visite</a>
                                    </li>
                                    <li>
                                        <a href="https://perenoel.fi/">Site bizarre</a>
                                    </li>
                                    <li>
                                        <a href="/goddies.php">Goddies</a>
                                    </li>
                                    <li>
                                        <a href="/cadeaux.php">Vos listes de voeux</a>
                                    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </nav>
    